body {
    font-family:cursive;
    background: #faf7f8;
    text-align: center;
}

header {
    background: #da1884;
    color:#fddde6;
    padding: 20px;
}

.container {
    background: #fddde6;
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    color: #8a024dd3;
}

.item {
    box-shadow: 5px 5px 2px rgb(215, 199, 212) ;
    background:#fcf4f9;
    border: 2px solid rgb(246, 212, 230);
    border-radius: 15px;
    padding: 10px;
    width: 140px;
}

.item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.quantity input {
    width: 80px;
    padding: 5px;
}

.hint {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    color: gray;
}

button {
    background: #da1884;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#preview {
    margin-top: 20px;
}

.preview-item {
    display: inline-block;
    margin: 5px;
}

.preview-item img {
    width: 40px;
    height: 40px;
}
